# IDE-related
.idea/
.vscode/

# Flutter/Dart-specific
**/build/
**/ios/Pods/
**/android/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Android-specific
**/android/gradle/
**/android/gradlew
**/android/local.properties
**/android/.gradle
**/android/captures/

# iOS-specific
**/ios/Pods/
**/ios/.symlinks/
**/ios/.flutter-plugins
**/ios/Flutter/Debug.xcconfig
**/ios/Flutter/Release.xcconfig
**/ios/Runner.xcworkspace
**/ios/Flutter/AppFrameworkInfo.plist
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/App.framework/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/GeneratedPluginRegistrant.*

# Other
*.iml
*.lock
.DS_Store
*.pbxproj
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.xcworkspace
*.swp
*~

.env.development
.env.production
