# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
build
.env.development
.env.production
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
.pnp.cjs
.pnp.loader.mjs
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml


.yarn/cache
.yarn/install-state.gz
# .yanrc.yml의 경우 buildspec에서 yarn set version 명령을 실행하는데도 필요하고, 개발자 초기 개발환경 셋팅에도 필요하므로, ignore 하지 않는다.
# .yarnrc.yml

# yarn 3.2.3 을 사용하도록 공식 가이드하고 있기 때문에, 로컬에서 잘못 생성된 package-lock.json 에 대한 형상관리는 하지 않는다.
package-lock.json

# 빌드 후 압축한 파일
fof-dfp-frontend.tgz
fof-dfp-frontend.zip

tsconfig.tsbuildinfo
