<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121753668140-uvqd6s3u3cgq3e2fnk0hn0b6e0b30545.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121753668140-uvqd6s3u3cgq3e2fnk0hn0b6e0b30545</string>
	<key>API_KEY</key>
	<string>AIzaSyDxUFt2RnMyBerzsuZ40zOkfWpT3bxJhZA</string>
	<key>GCM_SENDER_ID</key>
	<string>121753668140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fofDfpMobile</string>
	<key>PROJECT_ID</key>
	<string>fof-dfp-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>fof-dfp-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121753668140:ios:fddbe56c452c905ddb9f89</string>
</dict>
</plist>